﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/Css/tower.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/logo.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/floor.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/control-panel.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/iconfont.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/showroom.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/showroom-tile.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/showroom-tile-mask.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/animate.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/app.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/footer.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/tile.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/command-panel.css">
    <link type="text/css" rel="stylesheet" href="~/Content/Css/form.css">
</head>
<body>
    <div id="tower">
        @RenderBody()
    </div>
    <footer>
        <p class="copy">concept & design - Entreprise de Modes et de Manières Modernes 2012-2015<br></p>
        <p><a href="~/Home/AdminIndex">Beheer</a></p>
        <div class="vcard">
            <h3>Contact</h3>
            <p class="fn org">a n<span>orm</span> apart</p>
            <div class="adr">
                <div class="street-address">Braziliëstraat 38</div>
                <div class="postal-code">2000</div>
                <div class="locality">Antwerpen</div>
                <div class="country-name">België</div>
                <div class="email">
                    <a href="mailto:woutersmike@hotmail.com">woutersmike@hotmail.com</a>
                </div>
            </div>
        </div>
    </footer>
    <div id="feedback">
        @ViewBag.Feedback;
        @foreach (var item in ViewContext.ViewData.ModelState)
        {
            if (item.Value.Errors.Any())
            {
                <tr>
                    <td><b>@item.Key</b></td>
                    <td>@((item.Value == null || item.Value.Value == null) ? "<null>" : item.Value.Value.RawValue)</td>
                    <td>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</td>
                </tr>
            }
        }
    </div>
</body>
</html>
