﻿@model Webwinkel.Models.Country
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="floor" id="flat-entity-floor">
    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <span class="icon-menu2"></span>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>MikMak</h1>
    </div>
    <form class="showroom" action="/Country/Insert" method="post">
        <header>
            <h2>Detail land</h2>
            <div id="command-panel" class="command-panel">
                <a href="/Country/Delete/@Model.Id" class="tile">
                    <span class="icon-remove"></span>
                    <span class="screen-reader-text">Delete</span>
                </a>
                <a href="/Country/Cancel" class="tile">
                    <span class="icon-close"></span>
                    <span class="screen-reader-text">Annuleren</span>
                </a>
                <a href="/Country/Inserting" class="tile">
                    <span class="icon-plus"></span>
                    <span class="screen-reader-text">Inserting</span>
                </a>
                <a href="/Country/Updating/@Model.Id" class="tile">
                    <span class="icon-pencil"></span>
                    <span class="screen-reader-text">Updating</span>
                </a>
            </div>
        </header>
        @Html.Action("ReadingAll")
        <div class="detail">
            <fieldset>
                <div>
                    <label for="CountryCode">Code</label>
                    <input id="CountryCode" name="CountryCode" class="text"
                           style="width: 22.5%;" type="text" value="@Model.Code" readonly />
                </div>
                <div>
                    <label for="CountryCode">Nom</label>
                    <input id="CountryCode" name="CountryCode" class="text"
                           style="width: 32.5%;" type="text" value="@Model.Name" readonly />
                </div>
            </fieldset>
            <div class="feedback">
            </div>
        </div>
    </form>
</div>