﻿@model Webwinkel.Models.Country
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="floor" id="flat-entity-floor">
    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <span class="icon-menu2"></span>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>MikMak</h1>
    </div>
    <form class="showroom" action="/Country/Update" method="post">
        <header>
            <h2>Land wijzigen</h2>
            <div id="command-panel" class="command-panel">
               <a href="/Country/Cancel" class="tile">
                    <span class="icon-close"></span>
                    <span class="screen-reader-text">Annuleren</span>
                </a>
                <button type="submit" name="CountryId" id="Id" value="@Model.Id" class="tile">
                    <span class="icon-disk"></span>
                    <span class="screen-reader-text">Update</span>
                </button>
            </div>
        </header>
        @Html.Action("ReadingAll")
        <div class="detail">
            <fieldset>
                <div>
                    <label for="CountryCode">Landcode</label>
                    <input id="CountryCode" name="CountryCode" class="text"
                           style="width: 22.5%;" type="text" value="@Model.Code" required />
                </div>
                <div>
                    <label for="CountryName">Naam land</label>
                    <input id="CountryName" name="CountryName" class="text"
                           style="width: 32.5%;" type="text" value="@Model.Name" required />
                </div>
           </fieldset>
                <div class="feedback">
                </div>
            </div>
        </form>
    </div>