﻿@model Webwinkel.Models.UnitBase
@{
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

<div class="floor" id="flat-entity-floor">
    <div class="control-panel">
        <a href="/Home/Index" class="tile">
            <span class="icon-menu2"></span>
            <span class="screen-reader-text">Home</span>
        </a>
        <h1>MikMak</h1>
    </div>
    <form class="showroom" action="/UnitBase/Update" method="post">
        <header>
            <h2>Basiseenheid wijzigen</h2>
            <div id="command-panel" class="command-panel">
                <button type="submit" name="UnitBaseId" id="Id" value="@Model.Id" class="tile">
                    <span class="icon-disk"></span>
                    <span class="screen-reader-text">Update</span>
                </button>
                <a href="/UnitBase/Cancel" class="tile">
                    <span class="icon-close"></span>
                    <span class="screen-reader-text">Annuleren</span>
                </a>
            </div>
        </header>
        @Html.Action("ReadingAll")
        <div class="detail">
            <fieldset>
                <div>
                    <label for="UnitBaseCode">Code</label>
                    <input id="UnitBaseCode" name="UnitBaseCode" class="text"
                           style="width: 22.5%;" type="text" value="@Model.Code" required />
                </div>
                <div>
                    <label for="UnitBaseName">Naam</label>
                    <input id="UnitBaseName" name="UnitBaseName" class="text"
                           style="width: 32.5%;" type="text" value="@Model.Name" required />
                </div>
                <div>
                    <label for="UnitBaseDescription">Omschrijving</label>
                    <textarea id="UnitBaseDescription" name="UnitBaseDescription" class="text"
                              style="width: 32.5%;" type="text" value="">
                        @Model.Description
                        </textarea>
                    </div>
                </fieldset>
                <div class="feedback">
                </div>
            </div>
        </form>
    </div>